<a href="https://colab.research.google.com/github/Aishwarya2487/Tasks---Python/blob/main/Assignment_Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [29]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [30]:
# Store the highest temperature
max1 = temperatures[0]
max_temp_index  = 0 
print(max(temperatures))
for i in range(1,len(temperatures)):
  if temperatures[i] < max1:
    max1 = temperatures[i]
    max_temp_index  = i


# Index of the element with the highest temperature
print(f'Index of the maximum value is : {max_temp_index}')

42
Index of the maximum value is : 2

In [33]:


# Store the lowest temperature 
min1 = temperatures[0]
min_temp_index = 0
print(min(temperatures))
for i in range(1,len(temperatures)):
  if temperatures[i] > min1:
    min1 = temperatures[i]
    min_temp_index = i

# Index of the element with the lowest temperature
print(f'Index of the minimum value is : {min_temp_index}')

29
Index of the minimum value is : 4

In [40]:
# Swap the highest and the lowest temperatures
temperatures.sort()
temperatures[-1], temperatures[0] = temperatures[0], temperatures[-1]

[42, 33, 34, 37, 39, 40, 29]

In [41]:
# Print the output list
print(temperatures)

[42, 33, 34, 37, 39, 40, 29]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [19]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [36]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
prod_price_lista = 0
a = len(prod_price_list)
for i in range(0,len(prod_price_list)):
  prod_price_lista = prod_price_lista + prod_price_list[i]

print(prod_price_lista)
  
mean_price = prod_price_lista/a
print(mean_price)

19750
1975.0

### Calculate the median price

In [37]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
prod_price_list.sort()
print(prod_price_list)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [22]:
# Check if the number of elements in the list is even or odd
even = 0
for i in range(0, len(prod_price_list)):
  if prod_price_list[i] % 2 == 0:
    print("even element", prod_price_list[i])

even element 250
even element 250
even element 360
even element 400
even element 550
even element 600
even element 720
even element 800
even element 820
even element 15000

In [39]:
# Use the corresponding formula to calculate the median and print the median

import math
a = int(len(prod_price_list)) 
index = 0

if  a % 2 == 0:
    a = int((a/2)-1)
    print(prod_price_list[a])
    print(prod_price_list[a+1])
   
    

elif a % 2 != 0:
    a = int((a/2))
    print(prod_price_list[a])

550
600

In [41]:
# Check which is greater, mean or median
if mean_price > prod_price_list[a]:
    print('mean is greater =' , mean_price)
else :
    print('Median is greater =' , prod_price_list[a])

mean is greater = 1975.0

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation :

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [61]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [62]:
# Write your code below

correct_tech_companies = []
for sublist in tech_companies:
    for num in sublist:
        correct_tech_companies.append(num)

print(correct_tech_companies)

['Q', 'u', 'a', 'l', 'c', 'o', 'm', 'm', 'G', 'o', 'o', 'g', 'l', 'e', 'A', 'p', 'p', 'l', 'e', 'Nvidia', 'Cisco', 'Samsung']

In [ ]:
# Do the same task another way